@font-face {
  font-family: 'neueTextVariable';
  src:  url('./assets/typefaces/NeueTextLCGVariable.ttf');
  font-weight: 800 900;
}

body{
	cursor: none;
	height: 100%;
	background-color: rgb(0, 0, 0);
}

*{
	font-family: neueTextVariable;
}
section{
	margin: 330px auto;
	margin-top: 10px;
	width:80vw;
	height: 90vh;
	display: grid;
	grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

section div{
	background-color: #E42A1D;
	/* font-size: 10vw; */
	display: flex;
	justify-content: center;
	align-items: center;
		font-family: neueTextVariable;
}

.cursor{

	position: absolute;
	/* height: 10px;
	width: 10px; */
	background-color: #ffffff;
/*	just as a default position*/
	top: -100;
	left: -100;
	
}


#year{
	position:absolute;
	transform:translate(-50%,-50%);
	height:35px;
	width:35px;
	font-size: 50px;
	/* border-radius:50%;
	border:2px solid black; */
	color: #ffffff;
	z-index: 10;
  }


#stencil{
	position:absolute;
	top:-600px;
	right:-810px;
	/* display: none; */

}

/* img #stencil{
	width:
} */


.red{
	background-color: #E42A1D;
}

.white{
	background-color: #ffffff;
	background-color: #E42A1D;

}